.steps.brushColor0 {
    color: red;
}

.steps.brushColor1 {
    color: green;
}

.steps.brushColor2 {
    color: blue;
}

.steps.brushColor3 {
    color: orange;
}

.steps.brushColor4 {
    color: brown;
}

.steps.brushColor5 {
    color: purple;
}