.paintSteps {
    text-align: center;
}


.steps.brushColor0 {
    color: red;
    margin-bottom: 0;
}

.steps.brushColor1 {
    color: green;
    margin-bottom: 0;
}

.steps.brushColor2 {
    color: #1F9CE9;
    margin-bottom: 0;
}

.steps.brushColor3 {
    color: orange;
    margin-bottom: 0;
}

.steps.brushColor4 {
    color: brown;
    margin-bottom: 0;
}

.steps.brushColor5 {
    color: purple;
    margin-bottom: 0;
}

.clickedtrue {
    animation: paint 300ms 1;
    transition-timing-function: ease-in;
    margin-left: 0.7em;
}

.clickedfalse {
    animation: paintMore 300ms 1;
    transition-timing-function: ease-in;
    margin-left: 0.7em;
}

@keyframes paint {
    from {
      transform: rotate(0deg)
    }
  
    to {
      transform: rotate(-5deg)
    }
  }

  @keyframes paintMore {
    from {
      transform: rotate(-5deg)
    }
  
    to {
      transform: rotate(0deg)
    }
  }