.steps.brushColor0 {
    color: red;
}

.steps.brushColor1 {
    color: green;
}

.steps.brushColor2 {
    color: blue;
}

.steps.brushColor3 {
    color: orange;
}

.steps.brushColor4 {
    color: brown;
}

.steps.brushColor5 {
    color: purple;
}

.clickedtrue {
    animation: paint 300ms 1;
    transition-timing-function: ease;
}

.clickedfalse {
    animation: paintMore 300ms 1;
    transition-timing-function: ease-in;
}

@keyframes paint {
    from {
      transform: rotate(0deg)
    }
  
    to {
      transform: rotate(-5deg)
    }
  }

  @keyframes paintMore {
    from {
      transform: rotate(-5deg)
    }
  
    to {
      transform: rotate(0deg)
    }
  }