.container {
    position: 'relative';
    margin: '0 auto';
    height: '100vh';
    text-align: 'center';
    overflow: 'hidden';
    max-width: '178vh';
    cursor: crosshair;
    // cursor: url(../components/img/redEllipse.png), auto; - for coloured cursor
}


.canvas {
    opacity: 0.5;
  }